:root {
  --background: 215, 215, 215;
  --primary: 200, 200, 240;
  --outline: 30, 30, 30;
  --accent: 280, 200, 140;
  --accent-light: 124, 150, 204;
  --accent-dark: 19, 110, 51;
  --text-color: 20, 20, 20;
  --svg-fill: #1e1e1e;
  --accent-gradient: linear-gradient(
    35deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --shadow-dist-1: 3px;
  --shadow-dist-2: 5px;
  --shadow-dist-3: 7px;
  scroll-behavior: smooth;
  transition: background 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
:root.swapped-mode {
  --background: 51, 51, 51;
  --primary: 61, 61, 81;
  --outline: 30, 30, 30;
  --accent: 145, 75, 21;
  --accent-light: 40, 50, 81;
  --text-color: 231, 231, 231;
  --svg-fill: #e0e0e0;
  transition: background 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: 215, 215, 215;
    --primary: 200, 200, 240;
    --outline: 30, 30, 30;
    --accent: 280, 200, 140;
    --accent-light: 124, 150, 204;
    --accent-dark: 19, 110, 51;
    --text-color: 20, 20, 20;
    --svg-fill: #1e1e1e;
    --accent-gradient: linear-gradient(
      35deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --shadow-dist-1: 3px;
    --shadow-dist-2: 5px;
    --shadow-dist-3: 7px;
    scroll-behavior: smooth;
    transition: background 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  :root.swapped-mode {
    --background: 11, 11, 11;
    --primary: 21, 21, 41;
    --outline: 51, 51, 51;
    --accent: 130, 90, 20;
    --accent-light: 124, 104, 50;
    --accent-dark: 19, 110, 51;
    --text-color: 231, 231, 231;
    --svg-fill: #e0e0e0;
    transition: background 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
}

/*Defining tailwind-style border boxes for differently sized neobrutalist elements */
.shadow-border-1 {
  border: 3px solid rgb(var(--outline));
  border-radius: 8px;
  box-shadow: var(--shadow-dist-1) var(--shadow-dist-1) 0 rgb(var(--outline));
  transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transition: border 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.shadow-border-2 {
  border: 4px solid rgb(var(--outline));
  border-radius: 12px;
  box-shadow: var(--shadow-dist-2) var(--shadow-dist-2) 0 rgb(var(--outline));
  transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transition: border 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
.shadow-border-3 {
  border: 5px solid rgb(var(--outline));
  border-radius: 18px;
  box-shadow: var(--shadow-dist-3) var(--shadow-dist-3) 0 rgb(var(--outline));
  transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  transition: border 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
/* Smaller links fall down to match their box shadow*/
a.shadow-border-1,
button.shadow-border-1,
img.shadow-border-1 {
  position: relative;
  top: 0px;
  left: 0px;
  transition:
    left 0.2s,
    top 0.2s,
    box-shadow 0.2s;
}
a.shadow-border-1:hover,
button.shadow-border-1:hover,
img.shadow-border-1:hover {
  left: var(--shadow-dist-1);
  top: var(--shadow-dist-1);
  box-shadow: 0 0 0 rgb(var(--outline));
}

/* Larger links rise up to show their box shadow*/
a.shadow-border-2 {
  top: var(--shadow-dist-2);
  left: var(--shadow-dist-2);
  transition:
    left 0.2s,
    top 0.2s,
    opacity 0.2s;
}
a.shadow-border-2:hover {
  left: 0px;
  top: 0px;
  opacity: 1;
}

/*@keyframes shadowdown-1 {*/
/*  0% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 0px) 0px 0 rgb(var(--outline));*/
/*  }*/
/*  33% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 1px) 1px 0 rgb(var(--outline));*/
/*  }*/
/*  66% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 2px) 2px 0 rgb(var(--outline));*/
/*  }*/
/*  100% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 3px) 3px 0 rgb(var(--outline));*/
/*  }*/
/*}*/
/*@keyframes shadowdown-2 {*/
/*  0% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 0px) 0px 0 rgb(var(--outline));*/
/*  }*/
/*  33% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 2px) 1px 0 rgb(var(--outline));*/
/*  }*/
/*  66% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 4px) 2px 0 rgb(var(--outline));*/
/*  }*/
/*  100% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 6px) 3px 0 rgb(var(--outline));*/
/*  }*/
/*}*/
/*@keyframes shadowdown-3 {*/
/*  0% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 0px) 0px 0 rgb(var(--outline));*/
/*  }*/
/*  33% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 2.5px) 1px 0 rgb(var(--outline));*/
/*  }*/
/*  66% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 4.5px) 2px 0 rgb(var(--outline));*/
/*  }*/
/*  100% {*/
/*    box-shadow: calc(var(--shadow-offset-dir) * 7px) 3px 0 rgb(var(--outline));*/
/*  }*/
/*}*/

/*@font-face {*/
/*  font-family: Boring;*/
/*  src:local("../public/BoringSansBold.ttf");*/
/*}*/
