@font-face {
  font-family: Boring;
  src:local("../public/BoringSansBold.ttf");
}

@media (prefers-color-scheme: light) {
  :root {
    --background: 255,255,255;
    --primary: 220,220,250;
    --outline: 0,0,0;
    --light: 201,201,201;
    --accent: 150, 240, 150;
    --accent-light: 124, 204, 150;
    --accent-dark: 19, 110, 51;
    --text-color: 0,0,0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: 180,180,220;
    --primary: 51,51,51;
    --outline: 0,0,0;
    --light: 201,201,201;
    --accent: 36, 118, 194;
    --accent-light: 124, 204, 150;
    --accent-dark: 19, 110, 51;
    --text-color: 255,255,255;
  }
}
/* Global css styles that reference the media-query-defined color values */
:root {
  --accent-gradient: linear-gradient(
    35deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  scroll-behavior: smooth; 
}
/*Defining tailwind-style border boxes for differently sized neobrutalist elements */
.shadow-border-1 {
  border: 3px solid rgb(var(--outline));
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgb(var(--outline));
}
.shadow-border-2 {
  border: 4px solid rgb(var(--outline));
  border-radius: 15px;
  box-shadow: 6px 5px 0 rgb(var(--outline));
}
.shadow-border-3 {
  border: 5px solid rgb(var(--outline));
  border-radius: 25px;
  box-shadow: 7px 7px 0 rgb(var(--outline));
}
a.shadow-border-1 {
  top: 0px;
  left: 0px;
  transition: left 0.5s, top 0.5s, box-shadow 0.5s;
}
a.shadow-border-1:hover {
  left: 3px;
  top: 3px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
